.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  border: 0;
  color: #ffffff;
  background-color: #0058ff;
  border-radius: 10px;
  transition: ease-in 0.1s;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  height: 43px;
}

.button:hover {
  transition: ease-out 0.1s;
  background-color: #2471ff;
}

.button--loading {
  width: 23px;
  height: auto;
}

.button:disabled {
  transition: ease-out 0.2s;
  background-color: #dfdfdf;
  color: #a5a5a5;
}
