* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* position: relative; */
  /* min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 100px !important; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 0;
  color: #181818;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: 1px solid #ededed;
  width: 100%;
  margin: 20px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
